@import 'base-variables';
$map_height:400px;

@import 'base-mixins';

@import 'leaflet';


.maps{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;

	&.maps--commuter .map{ width:100%; }
}

.map{
	width:48%;
	&__headline{
		@include label7();
		margin:0 0 3px 0;
	}

	&__subheadline{
		@include sans-serif();
		margin:0 0 7px 0;
		max-width:200px;
	}
	&__container{
		width:100%;
		height:$map_height;
		background:$trib-gray4;		
	}

	&__source{
		@include agate();
	}
}

.legend{
	&__label{
		@include agate();
		position: absolute;
		margin:0;
		top:0;
	}

	&__box{
		height:10px;
		position:absolute;
		bottom:0;
		padding:0;
	}
}

@media all and (max-width: 420px){
	.maps.maps--commuter .map .map__container{ 
		width:100%; 
		height:$map_height;
	}

	.map{
		width:100%;

		&__container{
			height:200px;
		}

	}
}