@import 'base-variables';
@import 'base-mixins';

@import 'leaflet';


.maps{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.map{
	width:48%;
	height:600px;
	background:$trib-gray4;
}