{% macro make_map(key) %}
  {% set map = maps[key] %}
  <div id='{{ key }}' class='map' data-value='{{ key }}' data-format='{{ map.number_format }}'>
      <h2 class='map__headline'>{{ map.headline|process_text }}</h2>
      <p class='map__subheadline'>{{ map.subheadline|process_text }}</p>
      <div class='map__container'></div>
      <p class='map__source'>{{ map.sources|process_text }}</p>
  </div>
{% endmacro %}
{% block content %}
<div class='maps'>
  {{ make_map('tix_parkin') }}
  {{ make_map('pop_nonwhite') }}
</div>  

{% endblock content %}

{% block library_scripts %}
{# Uncomment this if you are using libraries such as jQuery #}
<script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
{% endblock %}

{% block scripts %}
{# Uncomment this if you are using custom JavaScript #}
<script src="//{{ ROOT_URL }}/js/app.min.js"></script>
<script>
(function(document) {
  var CSS = [
    "//{{ ROOT_URL }}/css/styles.css"
  ];

	window.ROOT_URL = "{{ ROOT_URL }}";

  CSS.forEach(function(url) {
    var link = document.createElement('link');
    link.setAttribute('rel', 'stylesheet');
    link.setAttribute('href', url);
    document.head.appendChild(link);
  });
})(document);
</script>
{% endblock scripts %}
